gdown==4.5.3
jax==0.3.10
jaxlib==0.3.10+cuda11.cudnn805
torch==1.9.0+cu111
torchvision==0.10.0+cu111
ftfy==6.1.1
ninja==1.10.2
opensimplex==0.4.2
timm==0.4.12
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
opencv-contrib-python==4.5.4.60
imutils==0.5.4
dlib==19.24.0
tensorflow_addons==0.1.4.0
numpy==1.14.5
autocrop==1.3.0
PIL==9.1.1
